.container {
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto;
// 	@include mob {
// 		width: 360px;
// 	}
// 	@include tab {
// 		width: 768px;
// 	}
// 	@include lap {
// 		width: 991px;
// 	}
// 	@include desk {
// 		width: 1240px;
// 	}
}

.logo {
    font-size: 17px;
    line-height: calc(24 / 17);
    color: var(--uniswap-pink);
    @include flex_align;
    width: 94px;
}

.logo-image {
	width: 20px;
	height: 22px;
	margin-right: 4px;
}

// .primary_font {
// 	@include font();
// }

// .primary_font,
// .text_font_1,
// .text_font_2 {
// 	color: var(--panda-grey);
// }

// .secondary_font {
// 	@include font($fw: 600);
// }

// .text_font_1 {
// 	@include font($fw: 400);
// }

// .text_font_2 {
// 	@include font($fs: 14px, $fw: 400, $lh: 24px);
// }

// .title_font {
// 	@include font($fs: 48px, $fw: 700, $lh: 64px);
// }

// .minor_title_font {
// 	@include font($fs: 24px, $fw: 700, $lh: 32px);
// }

// .price_font_1 {
// 	@include font($fw: 700, $lh: 24px);
// }

// .price_font_2 {
// 	@include font($fw: 500, $lh: 24px);
// }

// .product_small_font_1 {
// 	@include font($fs: 12px, $fw: 400, $lh: 24px);
// 	color: var(--panda-product-grey);
// }

// .product_small_font_2 {
// 	@include font($fs: 12px, $fw: 600, $lh: 24px);
// 	color: var(--panda-input-grey);
// }

// .title_wrap {
// 	text-align: center;
// 	margin-bottom: 28px;
// 	@include tab {
// 		margin-bottom: 56px;
// 	}
// 	@include lap {
// 		display: flex;
// 		justify-content: space-between;
// 	}
// }

.current {
	color: var(--clearly-white);
	&::after {
		content: "";
		width: 100%;
		height: 2px;
		background-color: var(--uniswap-second-pink);
		border-radius: 2px;
		position: absolute;
		left: 0;
		bottom: -2px;
	}
}

.uniswap-message {
    border-radius: 20px;
    background-color: var(--uniswap-market-background);
	&_warning {
		max-width: 364px;
		padding-left: 24px;
		padding-top: 26px;
		padding-right: 24px;
		padding-bottom: 18px;
	}
	&_error-validate {
		max-width: 425px;
		padding: 26px 31px;
	}
	&_error-create {
		max-width: 316px;
		padding: 26px 73px;
	}
	&_success {
		max-width: 398px;
		padding: 26px 37px;
	}
}

.uniswap-message_title {
    font-weight: 700;
    font-size: 21px;
    line-height: calc(20 / 21);
    text-align: center;
    padding-bottom: 18px;
    border-bottom: 1px solid var(--uniswap-market-border);
	&-pink {
        color: var(--uniswap-pink);
	}
	&-green {
		color: var(--uniswap-success);
	}
}

.uniswap-message_after-title {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(20 / 14);
    text-align: center;
    color: var(--uniswap-grey);
    padding-top: 19px;
    margin-bottom: 22px;
}

.uniswap-message_text-wrap {
	padding: 12.5px 16px;
	margin-bottom: 18px;
    border-radius: 12px;
	&-pink {
		border: 1px solid var(--uniswap-error);
		background-color: var(--uniswap-background-pink);
	}
	&-green {
		text-align: center;
		border: 1px solid var(--uniswap-success);
		background-color: var(--uniswap-background-green);
	}
}

.uniswap-message_text {
    font-size: 14.75px;
    line-height: calc(28.8 / 14.75);
    letter-spacing: -0.12px;
	&-pink {
		color: var(--uniswap-error);
	}
	&-green {
		color: var(--uniswap-success);
	}
}

.uniswap-message_btn {
    font-weight: 700;
    font-size: 15.84px;
    line-height: calc(24 / 15.84);
    border-radius: 6px;
    padding: 2.5px 37px;
    display: block;
    margin: 0 auto;
	&-pink {
        background-color: var(--uniswap-pink);
	}
	&-green {
		background-color: var(--uniswap-success);
	}
}

.uniswap-market-btn-wrap {
    text-align: right;
	&-stake {
		margin-top: 22px;
	}
	&-my-positions {
		@include flex_align;
		justify-content: flex-end;
		margin-top: 20px;
	}
}

.uniswap-market-btn {
    font-size: 14.84px;
    line-height: calc(24 / 14.84);
    width: 262px;
    padding: 8px 0;
    border-radius: 12px;
}

.uniswap-market-exmark {
	width: 40px;
	height: 40px;
	padding: 8px 16.5px;
	margin-left: 8px;
	border-radius: 52px;
	position: relative;
}

.uniswap-market-btn,
.uniswap-market-exmark {
	background-color: var(--uniswap-dark-pink);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: var(--uniswap-pink);
    }
}

.uniswap-market-info-wrap {
	width: 192px;
	padding: 15px 17px;
	border-radius: 8px;
	border: 1px solid var(--uniswap-market-border);
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(0, -85%);
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.uniswap-market-info {
	font-weight: 400;
	font-size: 13px;
	line-height: 100%;
	text-align: left;
}

// .current_mob {
// 	color: var(--panda-light-blue);
// }

// .button {
// 	position: relative;
// 	display: inline-flex;
// 	justify-content: center;
// 	align-items: center;
// 	text-align: center;
// 	width: auto;
// 	transition: all .2s;
// 	cursor: pointer;
// }

// .primary_button {
// 	min-width: 175px;
// 	padding-top: 12px;
// 	padding-right: 16px;
// 	padding-bottom: 12px;
// 	padding-left: 16px;
// 	border-radius: 16px;
// 	border: 1px solid var(--panda-light-blue);
// 	color: var(--clearly-white);
// }

// .secondary_button {
// 	min-width: 139px;
// 	padding: 16px;
// 	color: var(--clearly-white);
// 	border-radius: 8px;
// 	background-color: var(--panda-first-btn-rgba);
// 	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
// 	&:hover {
// 		background-color: var(--panda-light-blue);
// 		box-shadow: var(--panda-second-btn-shadow);
// 	}
// 	@include tab {
// 		min-width: 179px;
// 	}
// 	@include lap {
// 		min-width: 119px;
// 	}
// 	&--active {
// 		background-color: var(--panda-light-blue);
// 		box-shadow: var(--panda-second-btn-shadow);
// 	}
// }

// .section {
// 	padding-bottom: 80px;
// 	@include lap {
// 		padding-bottom: 160px;
// 	}
// }

// .logo {
// 	font-family: Poppins, sans-serif;
// 	@include align_list;
// 	color: var(--clearly-white);
// }

// .logo,
// .primary_button,
// .button_to_top {
// 	@include lap {
// 		@include scale_with_pointer;
// 	}
// }

// .logo-image {
// 	width: 20px;
// 	height: 22px;
// 	margin-right: 4px;
// }

// .ornament {
// 	position: absolute;
// 	z-index: -1;
// 	width: 638px;
// 	height: 587px;
// 	background: var(--panda-ornament);
// 	overflow: hidden;
// 	filter: blur(350px);
// }

// .button_to_top {
// 	position: fixed;
// 	bottom: 3vh;
// 	right: calc(-10%);
// 	z-index: 1;
// 	width: 50px;
// 	height: 50px;
// 	@include align_list_justify_center;
// 	border-radius: 20%;
// 	opacity: 0;
// 	visibility: hidden;
// 	border: 1px solid var(--panda-light-blue);
// 	background-color: var(--panda-first-medium-blue);
// 	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
// 	&--visible {
// 		right: calc(2.5%);
// 		opacity: 1;
// 		visibility: visible;
// 	}
// }

.visually_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.is_hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}