@mixin font($fs, $fw, $lh, $ls:null) {
    font-weight: $fw;
    font-size: $fs;
    line-height: ($lh / $fs);
    letter-spacing: $ls;
}

@mixin flex_justify_align {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_align {
    display: flex;
    align-items: center;
}

@mixin desk {
    @media screen and (min-width: 1440px) {
        @content;
    }
}

@mixin tab {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin mob-only {
    @media screen and (max-width: 1439px) {
        @content;
    }
}

@mixin mob {
    @media screen and (min-width: 391px) {
        @content;
    }
}

@mixin change_to_white_with_pointer {
    @include transition_with_cubic;
    &:hover {
        cursor: pointer;
        color: var(--clearly-white);
    }
}

@mixin change_to_grey_with_pointer {
    @include transition_with_cubic;
    &:hover {
        cursor: pointer;
        color: var(--uniswap-grey);
    }
}

@mixin scale_with_pointer {
    @include transition_with_cubic;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

@mixin focus_scale_with_pointer {
    @include transition_with_cubic;
    &:focus {
        cursor: pointer;
        transform: scale(1.03);
    }
}

@mixin hover_focus_background_dark_pink {
    @include transition_with_cubic;
    &:hover,
    &:focus {
        background-color: var(--uniswap-dark-pink);
    }
}

@mixin transition_with_cubic($time:250ms) {
    transition: all $time cubic-bezier(0.4, 0, 0.2, 1);
}