@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
    --clearly-white: white;
	--just-grey: grey;
    --uniswap-pink: #FF37C7;
	--uniswap-light-pink: #FC72FF;
	--uniswap-dark-pink: #311C31;
	--uniswap-rgba-pink: #ff37c71f;
	--uniswap-gradient-pink: #FF7EDB;
	--uniswap-dark: #131313;
    --uniswap-light-dark: #1F1F1F;
	--uniswap-another-dark: #191B1F;
	--uniswap-rgba-dark: #0A0A0A80;
	--uniswap-error: #C84B63;
	--uniswap-background-error: #241721;
	--uniswap-success: #00A478;
	--uniswap-background-success: #0F3027;
	--uniswap-grey: #9B9B9B;
	--uniswap-another-grey: #717182;
	--uniswap-tokens-active: #191B1F;
	--uniswap-market-border: #212121;
	--uniswap-market-background: #161616;
	--uniswap-pair-option: #EAEAF4;
	--uniswap-scrollbar: #5C5C5C;
	--uniswap-my-profile-white: #FAFAFA;
	--uniswap-my-profile-dark: #262626;
	--uniswap-my-profile-another-dark: #171717;
	--uniswap-my-profile-grey: #A1A1A1;
	--uniswap-my-profile-green: #05DF72;
	--uniswap-my-profile-rgba-green: #05DF721A;
	--uniswap-my-profile-border-orange: #F0B10033;
	--uniswap-my-profile-orange: #D08700;
	--uniswap-rgba-border: #FFFFFF12;
	--uniswap-rgba-mob-border: #FFFFFF1F;
	--uniswap-rgba-another-border: #FAFAFA33;
	--uniswap-rgba-pink-border: #FF37C71A;
	--uniswap-rgba-background: #FAFAFA1A;
	--uniswap-rgba-mob-background: #000000B2;
	--uniswap-rgba-create-ticket-background: #0000004D;
	--uniswap-footer-policy: #FFFFFFA6;
	--uniswap-dashboard-green: #00A63E;
	--uniswap-withdraw-grey: #9CA3AF;
	--uniswap-withdraw-dark-grey: #6B7280;
	--uniswap-withdraw-green: #10B981;
	--uniswap-withdraw-another-green: #00A478;
	--uniswap-withdraw-rgba-green: #10B98133;
	--uniswap-withdraw-rgba-dark-green: #10B9810D;
	--uniswap-withdraw-orange: #F59E0B;
	--uniswap-withdraw-rgba-orange: #F59E0B0D;
	--uniswap-withdraw-border-orange: #F59E0B80;
	--uniswap-withdraw-blue: #1A9CFF;
	--uniswap-withdraw-rgba-border: #FFFFFF1A;
	--uniswap-transaction-history-dark: #1A1A1A;
	--uniswap-transaction-history-grey: #99A1AF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

button {
	margin: 0;
	padding: 0;
	font-family: inherit;
	outline: none;
	border: none;
	color: currentColor;
	background-color: transparent;
    cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
	color: var(--clearly-white);
	overflow: auto;
	scrollbar-gutter: stable both-edges;
	background-color: var(--uniswap-dark);
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		margin: 20px 0;
		opacity: 0;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
        border-radius: 4px;
		background-color: var(--uniswap-scrollbar);
	}
}