<div class="dashboard__my-positions" style="display: none;">
    <ul class="my-positions__list">
        <li class="my-positions__item">
            <div class="my-positions__main-tokens-wrap">
                <div class="my-positions__tokens-wrap">
                    <img
                        src="./images/trx_icon.png"
                        alt="TRX icon"
                        class="my-positions__icon">
                    <p class="my-positions__tokens">TRX-USDC</p>
                </div>
                <span class="my-positions__tokens-value">+105%</span>
            </div>
            <div class="my-positions__definition-value-wrap">
                <div class="my-positions__definition-wrap">
                    <p class="my-positions__definition">Amount:</p>
                    <p class="my-positions__definition">Locked from:</p>
                    <p class="my-positions__definition">Locked until:</p>
                    <p class="my-positions__definition">Type:</p>
                </div>
                <div class="my-positions__value-wrap">
                    <span class="my-positions__value">1000.000</span>
                    <span class="my-positions__value">9/20/2025</span>
                    <span class="my-positions__value">10/20/2025</span>
                    <span class="my-positions__value">Regular</span>
                </div>
            </div>
        </li>
        <li class="my-positions__item">
            <div class="my-positions__main-tokens-wrap">
                <div class="my-positions__tokens-wrap">
                    <img
                        src="./images/trx_icon.png"
                        alt="TRX icon"
                        class="my-positions__icon">
                    <p class="my-positions__tokens">TRX-USDC</p>
                </div>
                <span class="my-positions__tokens-value">+105%</span>
            </div>
            <div class="my-positions__definition-value-wrap">
                <div class="my-positions__definition-wrap">
                    <p class="my-positions__definition">Amount:</p>
                    <p class="my-positions__definition">Locked from:</p>
                    <p class="my-positions__definition">Locked until:</p>
                    <p class="my-positions__definition">Type:</p>
                </div>
                <div class="my-positions__value-wrap">
                    <span class="my-positions__value">1000.000</span>
                    <span class="my-positions__value">9/20/2025</span>
                    <span class="my-positions__value">10/20/2025</span>
                    <span class="my-positions__value">Regular</span>
                </div>
            </div>
        </li>
        <li class="my-positions__item">
            <div class="my-positions__main-tokens-wrap">
                <div class="my-positions__tokens-wrap">
                    <img
                        src="./images/trx_icon.png"
                        alt="TRX icon"
                        class="my-positions__icon">
                    <p class="my-positions__tokens">TRX-USDC</p>
                </div>
                <span class="my-positions__tokens-value">+105%</span>
            </div>
            <div class="my-positions__definition-value-wrap">
                <div class="my-positions__definition-wrap">
                    <p class="my-positions__definition">Amount:</p>
                    <p class="my-positions__definition">Locked from:</p>
                    <p class="my-positions__definition">Locked until:</p>
                    <p class="my-positions__definition">Type:</p>
                </div>
                <div class="my-positions__value-wrap">
                    <span class="my-positions__value">1000.000</span>
                    <span class="my-positions__value">9/20/2025</span>
                    <span class="my-positions__value">10/20/2025</span>
                    <span class="my-positions__value">Regular</span>
                </div>
            </div>
        </li>
        <li class="my-positions__item">
            <div class="my-positions__main-tokens-wrap">
                <div class="my-positions__tokens-wrap">
                    <img
                        src="./images/trx_icon.png"
                        alt="TRX icon"
                        class="my-positions__icon">
                    <p class="my-positions__tokens">TRX-USDC</p>
                </div>
                <span class="my-positions__tokens-value">+105%</span>
            </div>
            <div class="my-positions__definition-value-wrap">
                <div class="my-positions__definition-wrap">
                    <p class="my-positions__definition">Amount:</p>
                    <p class="my-positions__definition">Locked from:</p>
                    <p class="my-positions__definition">Locked until:</p>
                    <p class="my-positions__definition">Type:</p>
                </div>
                <div class="my-positions__value-wrap">
                    <span class="my-positions__value">1000.000</span>
                    <span class="my-positions__value">9/20/2025</span>
                    <span class="my-positions__value">10/20/2025</span>
                    <span class="my-positions__value">Regular</span>
                </div>
            </div>
        </li>
        <li class="my-positions__item">
            <div class="my-positions__main-tokens-wrap">
                <div class="my-positions__tokens-wrap">
                    <img
                        src="./images/trx_icon.png"
                        alt="TRX icon"
                        class="my-positions__icon">
                    <p class="my-positions__tokens">TRX-USDC</p>
                </div>
                <span class="my-positions__tokens-value">+105%</span>
            </div>
            <div class="my-positions__definition-value-wrap">
                <div class="my-positions__definition-wrap">
                    <p class="my-positions__definition">Amount:</p>
                    <p class="my-positions__definition">Locked from:</p>
                    <p class="my-positions__definition">Locked until:</p>
                    <p class="my-positions__definition">Type:</p>
                </div>
                <div class="my-positions__value-wrap">
                    <span class="my-positions__value">1000.000</span>
                    <span class="my-positions__value">9/20/2025</span>
                    <span class="my-positions__value">10/20/2025</span>
                    <span class="my-positions__value">Regular</span>
                </div>
            </div>
        </li>
        <li class="my-positions__item">
            <div class="my-positions__main-tokens-wrap">
                <div class="my-positions__tokens-wrap">
                    <img
                        src="./images/trx_icon.png"
                        alt="TRX icon"
                        class="my-positions__icon">
                    <p class="my-positions__tokens">TRX-USDC</p>
                </div>
                <span class="my-positions__tokens-value">+105%</span>
            </div>
            <div class="my-positions__definition-value-wrap">
                <div class="my-positions__definition-wrap">
                    <p class="my-positions__definition">Amount:</p>
                    <p class="my-positions__definition">Locked from:</p>
                    <p class="my-positions__definition">Locked until:</p>
                    <p class="my-positions__definition">Type:</p>
                </div>
                <div class="my-positions__value-wrap">
                    <span class="my-positions__value">1000.000</span>
                    <span class="my-positions__value">9/20/2025</span>
                    <span class="my-positions__value">10/20/2025</span>
                    <span class="my-positions__value">Regular</span>
                </div>
            </div>
        </li>
        <li class="my-positions__item">
            <div class="my-positions__main-tokens-wrap">
                <div class="my-positions__tokens-wrap">
                    <img
                        src="./images/trx_icon.png"
                        alt="TRX icon"
                        class="my-positions__icon">
                    <p class="my-positions__tokens">TRX-USDC</p>
                </div>
                <span class="my-positions__tokens-value">+105%</span>
            </div>
            <div class="my-positions__definition-value-wrap">
                <div class="my-positions__definition-wrap">
                    <p class="my-positions__definition">Amount:</p>
                    <p class="my-positions__definition">Locked from:</p>
                    <p class="my-positions__definition">Locked until:</p>
                    <p class="my-positions__definition">Type:</p>
                </div>
                <div class="my-positions__value-wrap">
                    <span class="my-positions__value">1000.000</span>
                    <span class="my-positions__value">9/20/2025</span>
                    <span class="my-positions__value">10/20/2025</span>
                    <span class="my-positions__value">Regular</span>
                </div>
            </div>
        </li>
        <li class="my-positions__item">
            <div class="my-positions__main-tokens-wrap">
                <div class="my-positions__tokens-wrap">
                    <img
                        src="./images/trx_icon.png"
                        alt="TRX icon"
                        class="my-positions__icon">
                    <p class="my-positions__tokens">TRX-USDC</p>
                </div>
                <span class="my-positions__tokens-value">+105%</span>
            </div>
            <div class="my-positions__definition-value-wrap">
                <div class="my-positions__definition-wrap">
                    <p class="my-positions__definition">Amount:</p>
                    <p class="my-positions__definition">Locked from:</p>
                    <p class="my-positions__definition">Locked until:</p>
                    <p class="my-positions__definition">Type:</p>
                </div>
                <div class="my-positions__value-wrap">
                    <span class="my-positions__value">1000.000</span>
                    <span class="my-positions__value">9/20/2025</span>
                    <span class="my-positions__value">10/20/2025</span>
                    <span class="my-positions__value">Regular</span>
                </div>
            </div>
        </li>
    </ul>
    <div class="uniswap-dashboard__btn-wrap uniswap-dashboard__btn-wrap-my-positions">
        <button type="button" class="uniswap-dashboard__btn">Claim all</button>
        <button type="button" class="uniswap-dashboard__exmark">
            !
            <div class="uniswap-dashboard__info-wrap is_hidden">
                <p class="uniswap-dashboard__info">Every stake is available to claim from 10$ income</p>
            </div>
        </button>
    </div>
</div>