<section class="faq" style="display: none;">
    <div class="faq__container">
        <p class="faq__title">Frequently Asked Questions</p>
        <p class="faq__after-title">Everything you need to know about cryptocurrency</p>
        <ul class="faq__list">
            <li class="faq__item">
                <div class="faq__item-title-wrap">
                    <p class="faq__item-title">What is cryptocurrency?</p>
                    <svg width="16" height="16" class="faq__item-arrow">
                        <use href="./images/icon_faq_arrow.svg"></use>
                    </svg>
                </div>
                <p class="faq__item-text">Cryptocurrency is a digital or virtual currency that uses cryptography for security. It operates independently of
                    a central bank and uses decentralized technology to let users make secure payments and store money without
                    needing to use their name or go through a bank.
                </p>
            </li>
            <li class="faq__item">
                <div class="faq__item-title-wrap">
                    <p class="faq__item-title">How do I get started with crypto?</p>
                    <svg width="16" height="16" class="faq__item-arrow">
                        <use href="./images/icon_faq_arrow.svg"></use>
                    </svg>
                </div>
                
            </li>
            <li class="faq__item">
                <div class="faq__item-title-wrap">
                    <p class="faq__item-title">Is cryptocurrency safe?</p>
                    <svg width="16" height="16" class="faq__item-arrow">
                        <use href="./images/icon_faq_arrow.svg"></use>
                    </svg>
                </div>
            </li>
            <li class="faq__item">
                <div class="faq__item-title-wrap">
                    <p class="faq__item-title">What are gas fees?</p>
                    <svg width="16" height="16" class="faq__item-arrow">
                        <use href="./images/icon_faq_arrow.svg"></use>
                    </svg>
                </div>
            </li>
            <li class="faq__item">
                <div class="faq__item-title-wrap">
                    <p class="faq__item-title">What's the difference between a wallet and an exchange?</p>
                    <svg width="16" height="16" class="faq__item-arrow">
                        <use href="./images/icon_faq_arrow.svg"></use>
                    </svg>
                </div>
            </li>
            <li class="faq__item">
                <div class="faq__item-title-wrap">
                    <p class="faq__item-title">Can I reverse a crypto transaction?</p>
                    <svg width="16" height="16" class="faq__item-arrow">
                        <use href="./images/icon_faq_arrow.svg"></use>
                    </svg>
                </div>
            </li>
            <li class="faq__item">
                <div class="faq__item-title-wrap">
                    <p class="faq__item-title">What is staking?</p>
                    <svg width="16" height="16" class="faq__item-arrow">
                        <use href="./images/icon_faq_arrow.svg"></use>
                    </svg>
                </div>
            </li>
            <li class="faq__item">
                <div class="faq__item-title-wrap">
                    <p class="faq__item-title">How are cryptocurrencies taxed?</p>
                    <svg width="16" height="16" class="faq__item-arrow">
                        <use href="./images/icon_faq_arrow.svg"></use>
                    </svg>
                </div>
            </li>
        </ul>
        <div class="contact-support__wrap">
            <p class="contact-support__title">Still have questions?</p>
            <p class="contact-support__after-title">Can't find the answer you're looking for? Our support team is here to help.</p>
            <button type="button" class="contact-support__btn">Contact Support</button>
        </div>
    </div>
</section>