<footer class="footer">
    <div class="footer__container">
        <div class="footer__main-wrap">
            <div class="footer__link-wrap">
                <div class="footer__link-wrap-smalls wrap-smalls-mob">
                    <h3 class="footer__link-title">Products</h3>
                    <ul class="footer__link-list">
                        <li class="link-list__item">
                            <p class="link-list__text">Wallet</p>
                        </li>
                        <li class="link-list__item">
                            <p class="link-list__text">UniswapX</p>
                        </li>
                        <li class="link-list__item">
                            <p class="link-list__text">API</p>
                        </li>
                        <li class="link-list__item">
                            <p class="link-list__text">Unichain</p>
                        </li>
                    </ul>
                </div>
                <div class="footer__link-wrap-smalls">
                    <h3 class="footer__link-title">Protocol</h3>
                    <ul class="footer__link-list">
                        <li class="link-list__item">
                            <p class="link-list__text">Vote</p>
                        </li>
                        <li class="link-list__item">
                            <p class="link-list__text">Governance</p>
                        </li>
                        <li class="link-list__item">
                            <p class="link-list__text">Developers</p>
                        </li>
                    </ul>
                </div>
                <div class="footer__link-wrap-smalls">
                    <h3 class="footer__link-title">Company</h3>
                    <ul class="footer__link-list">
                        <li class="link-list__item">
                            <p class="link-list__text">About</p>
                        </li>
                        <li class="link-list__item">
                            <p class="link-list__text">Careers</p>
                        </li>
                        <li class="link-list__item">
                            <p class="link-list__text">Blog</p>
                        </li>
                        <li class="link-list__item">
                            <p class="link-list__text">Brand assets</p>
                        </li>
                    </ul>
                </div>
                <div class="footer__link-wrap-smalls wrap-smalls-pl">
                    <h3 class="footer__link-title">Need help?</h3>
                    <ul class="footer__link-list">
                        <li class="link-list__item">
                            <p class="link-list__text">Help center</p>
                        </li>
                        <li class="link-list__item">
                            <p class="link-list__text">Contact us</p>
                        </li>   
                    </ul>
                </div>
            </div>
            <div class="footer__social-wrap">
                <ul class="footer__social-list">
                    <li class="social-list__item">
                        <a href="https://github.com/" target="_blank"
                                rel="noopener noreferrer nofollow">
                            <img
                                src="./images/github.png"
                                alt="Github icon"
                                class="social-list__icon">
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="https://x.com/" target="_blank"
                                rel="noopener noreferrer nofollow">
                            <img
                                src="./images/x.png"
                                alt="X icon"
                                class="social-list__icon">
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="https://discord.com/" target="_blank"
                                rel="noopener noreferrer nofollow">
                            <img
                                src="./images/discord.png"
                                alt="Discord icon"
                                class="social-list__icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright-wrap">
            <p class="footer__copyright">© 2025 - Uniswap Labs</p>
            <ul class="footer__policy-list">
                <li class="policy-list__item">
                    <p class="policy-list__name">Privacy Policy</p>
                </li>
                <li class="policy-list__item">
                    <p class="policy-list__name">Trademark Policy</p>
                </li>
            </ul>
        </div>
    </div>
</footer>