<header class="header">
    <div class="header__container">
        <nav class="nav">
            <div class="nav-site-wrap">
                <a href="./index.html" class="logo primary-font">
                <img
                    src="./images/uniswap_logo.png"
                    alt="Unicorn head"
                    class="logo-image">
                Uniswap
                </a>
                <ul class="nav-site-list">
                    <li class="nav-site-list__item">
                        <p class="nav-site-list__link link-active">White Paper</p>
                    </li>
                    <li class="nav-site-list__item">
                        <p class="nav-site-list__link link-small">Roadmap</p>
                    </li>
                    <li class="nav-site-list__item">
                        <p class="nav-site-list__link">About Us</p>
                    </li>
                </ul>
            </div>
            <div class="nav-user-wrap">
                <ul class="nav-cash-list">
                    <li class="nav-cash-list__item">
                        <p class="nav-cash-list__link">Available</p>
                        <span class="nav-cash-list__number">20399.80</span>
                    </li>
                    <li class="nav-cash-list__item">
                        <p class="nav-cash-list__link">Locked</p>
                        <span class="nav-cash-list__number">58099.98</span>
                    </li>
                </ul>
                <ul class="nav-sum-list">
                    <li class="nav-sum-list__item">
                        <p class="nav-sum-list__link link-small">Deposit</p>
                    </li>
                    <li class="nav-sum-list__item">
                        <p class="nav-sum-list__link">Withdraw</p>
                    </li>
                </ul>
                <button type="button" class="nav-user-icon-wrap">
                    <img
                        src="./images/icon_user.png"
                        alt="User icon"
                        class="nav-user-icon">
                </button>
            </div>
        </nav>
    </div>
</header>