<header class="header">
    <nav class="nav">
        <div class="nav-site-wrap">
            <a href="" class="logo primary-font">
                <svg width="20" height="22" class="logo-image">
                    <use href="./images/uniswap_logo.svg"></use>
                </svg>
                Uniswap
            </a>
            <button type="button" class="header__mob-menu"></button>
            <ul class="nav-site-list">
                <li class="nav-site-list__item">
                    <p class="nav-site-list__link nav-site-list__dashboard-link link-active">Dashboard</p>
                </li>
                <li class="nav-site-list__item">
                    <p class="nav-site-list__link nav-site-list__white-paper-link">White Paper</p>
                </li>
                <li class="nav-site-list__item">
                    <p class="nav-site-list__link nav-site-list__roadmap-link link-small">Roadmap</p>
                </li>
                <li class="nav-site-list__item">
                    <p class="nav-site-list__link nav-site-list__faq-link link-bigger">FAQ</p>
                </li>
            </ul>
        </div>
        <div class="nav-user-wrap">
            <ul class="nav-cash-list">
                <li class="nav-cash-list__item">
                    <p class="nav-cash-list__link">Available</p>
                    <span class="nav-cash-list__number">20399.80</span>
                </li>
                <li class="nav-cash-list__item">
                    <p class="nav-cash-list__link">Locked</p>
                    <span class="nav-cash-list__number">58099.98</span>
                </li>
            </ul>
            <ul class="nav-sum-list">
                <li class="nav-sum-list__item">
                    <p class="nav-sum-list__link link-small">Deposit</p>
                </li>
                <li class="nav-sum-list__item">
                    <p class="nav-sum-list__link">Withdraw</p>
                </li>
            </ul>
            <button type="button" class="nav-user-icon-wrap">
                <img
                    src="./images/icon_user.png"
                    alt="User icon">
            </button>
            <div class="nav-user-sections is_hidden">
                <ul>
                    <li class="nav-user-sections-item">
                        <svg width="15" height="15">
                            <use href="./images/icon_my_profile.svg"></use>
                        </svg>
                        <p class="nav-user-sections-title" id="my-profile-link">My profile</p>
                    </li>
                    <li class="nav-user-sections-item">
                        <svg width="15" height="15">
                            <use href="./images/icon_referral_program.svg"></use>
                        </svg>
                        <p class="nav-user-sections-title" id="referral-program-link">Referral Program</p>
                    </li>
                    <li class="nav-user-sections-item">
                        <svg width="15" height="15">
                            <use href="./images/icon_support.svg"></use>
                        </svg>
                        <p class="nav-user-sections-title" id="support-link">Support</p>
                    </li>
                    <li class="nav-user-sections-item">
                        <svg width="15" height="15">
                            <use href="./images/icon_logout.svg"></use>
                        </svg>
                        <p class="nav-user-sections-title nav-user-sections-title-pink" id="logout-link">Logout</p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="uniswap-backdrop uniswap-backdrop-header is_hidden">
        <div class="uniswap-message uniswap-message__logout">
            <p class="uniswap-message__title uniswap-message__title-pink">Logout</p>
            <p class="uniswap-message__after-title">Are you sure ?</p>
            <div class="uniswap-message__btn-wrap">
                <button type="button" class="uniswap-message__btn uniswap-message__btn-logout">Yes</button>
                <button type="button" class="uniswap-message__btn uniswap-message__btn-logout-pink">No</button>
            </div>
        </div>
    </div>
    <include src="./partials/mob-menu.html"></include>
</header>