<header class="header-mob">
    <div class="header-mob__wrap">
        <a href="./index.html" class="logo-mob primary-font">
            <img
                src="./images/uniswap_logo.png"
                alt="Unicorn head"
                class="logo-image-mob">
        </a>
        <button type="button" class="header-mob__mob-menu"></button>
        <button type="button" class="header-mob__user-button">
            <img
                src="./images/icon_user.png"
                alt="User icon">
        </button>
    </div>
</header>
