<header class="header">
    <nav class="nav">
        <div class="nav__wrap">
            <a href="" class="logo">
                <svg width="20" height="22" class="logo-image">
                    <use href="./images/uniswap_logo.svg"></use>
                </svg>
                Uniswap
            </a>
            <button type="button" class="header__mob-menu"></button>
            <ul class="nav__list">
                <li class="nav__item">
                    <p class="nav__link nav__list-dashboard-link" style="display: none;">Dashboard</p>
                </li>
                <li class="nav__item">
                    <p class="nav__link nav__list-white-paper-link link-active">White Paper</p>
                </li>
                <li class="nav__item">
                    <p class="nav__link nav__list-roadmap-link link-small">Roadmap</p>
                </li>
                <li class="nav__item">
                    <p class="nav__link nav__list-faq-link link-bigger">FAQ</p>
                </li>
            </ul>
        </div>
        <div class="nav__user-wrap">
            <ul class="nav__cash-list">
                <li class="cash-list__item">
                    <p class="cash-list__link">Available</p>
                    <span class="cash-list__number">20399.80</span>
                </li>
                <li class="cash-list__item">
                    <p class="cash-list__link">Locked</p>
                    <span class="cash-list__number">58099.98</span>
                </li>
            </ul>
            <ul class="nav__sum-list">
                <li class="sum-list__item">
                    <p class="sum-list__link link-small">Deposit</p>
                </li>
                <li class="sum-list__item">
                    <p class="sum-list__link">Withdraw</p>
                </li>
            </ul>
            <button type="button" class="nav__user-icon">
                <svg width="21" height="21">
                    <use href="./images/icon_user.svg"></use>
                </svg>
            </button>
            <div class="nav__user-sections is_hidden">
                <ul>
                    <li class="user-sections__item">
                        <svg width="15" height="15">
                            <use href="./images/icon_my_profile.svg"></use>
                        </svg>
                        <p class="user-sections__title" id="my-profile-link">My profile</p>
                    </li>
                    <li class="user-sections__item">
                        <svg width="15" height="15">
                            <use href="./images/icon_referral_program.svg"></use>
                        </svg>
                        <p class="user-sections__title" id="referral-program-link">Referral Program</p>
                    </li>
                    <li class="user-sections__item">
                        <svg width="15" height="15">
                            <use href="./images/icon_support.svg"></use>
                        </svg>
                        <p class="user-sections__title" id="support-link">Support</p>
                    </li>
                    <li class="user-sections__item">
                        <svg width="15" height="15">
                            <use href="./images/icon_logout.svg"></use>
                        </svg>
                        <p class="user-sections__title user-sections__title-pink" id="logout-link">Logout</p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="uniswap-backdrop uniswap-backdrop-header is_hidden">
        <div class="uniswap-message uniswap-message-logout">
            <p class="uniswap-message-title uniswap-message-title-pink">Logout</p>
            <p class="uniswap-message-after-title">Are you sure ?</p>
            <div class="uniswap-message-btn-wrap">
                <button type="button" class="uniswap-message-btn uniswap-message-btn-logout">Yes</button>
                <button type="button" class="uniswap-message-btn uniswap-message-btn-logout-pink">No</button>
            </div>
        </div>
    </div>
    <include src="./partials/mob-menu.html"></include>
</header>