<div class="market__tokens-grid-mob">
    <div class="tokens-grid__row-mob tokens-grid__header">
        <div class="tokens-grid__name">PAIR</div>
        <div class="tokens-grid__name">PI</div>
        <div class="tokens-grid__name">BL</div>
        <div class="tokens-grid__name">UT</div>
        <div class="tokens-grid__name">ROL</div>
    </div>
    <div class="tokens-grid__row-mob">
        <div class="tokens-grid__position">
            <img
                src="./images/trx_icon.png"
                alt="TRX icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">TRX</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row-mob">
        <div class="tokens-grid__position">
            <img
                src="./images/trx_icon.png"
                alt="TRX icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">TRX</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row-mob">
        <div class="tokens-grid__position">
            <img
                src="./images/trx_icon.png"
                alt="TRX icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">TRX</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row-mob">
        <div class="tokens-grid__position">
            <img
                src="./images/trx_icon.png"
                alt="TRX icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">TRX</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row-mob">
        <div class="tokens-grid__position">
            <img
                src="./images/trx_icon.png"
                alt="TRX icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">TRX</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row-mob">
        <div class="tokens-grid__position">
            <img
                src="./images/trx_icon.png"
                alt="TRX icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">TRX</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row-mob">
        <div class="tokens-grid__position">
            <img
                src="./images/trx_icon.png"
                alt="TRX icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">TRX</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row-mob">
        <div class="tokens-grid__position">
            <img
                src="./images/trx_icon.png"
                alt="TRX icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">TRX</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
</div>