<div class="market__tokens-grid">
    <div class="tokens-grid__row tokens-grid__header">
        <div class="tokens-grid__name">PAIR</div>
        <div class="tokens-grid__name">PI</div>
        <div class="tokens-grid__name">BL</div>
        <div class="tokens-grid__name">UT</div>
        <div class="tokens-grid__name">ROL</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/trx_icon.png"
                alt="TRX icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">TRX-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-hype_icon"></use>
            </svg>
            <p class="tokens-grid__coin">HYPE-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-bnb_icon"></use>
            </svg>
            <p class="tokens-grid__coin">BNB-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/sol_icon.png"
                alt="SOL icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">SOL-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-ada_icon"></use>
            </svg>
            <p class="tokens-grid__coin">ADA-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-xpr_icon"></use>
            </svg>
            <p class="tokens-grid__coin">XRP-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-doge_icon"></use>
            </svg>
            <p class="tokens-grid__coin">DOGE-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-link_icon"></use>
            </svg>
            <p class="tokens-grid__coin">LINK-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-atom_icon"></use>
            </svg>
            <p class="tokens-grid__coin">ATOM-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-sui_icon"></use>
            </svg>
            <p class="tokens-grid__coin">SUI-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-shiba_icon"></use>
            </svg>
            <p class="tokens-grid__coin">SHIBA-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-ltc_icon"></use>
            </svg>
            <p class="tokens-grid__coin">LTC-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-pepe_icon"></use>
            </svg>
            <p class="tokens-grid__coin">PEPE-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-dot_icon"></use>
            </svg>
            <p class="tokens-grid__coin">DOT-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-mkr_icon"></use>
            </svg>
            <p class="tokens-grid__coin">MKR-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-cake_icon"></use>
            </svg>
            <p class="tokens-grid__coin">CAKE-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-uni_icon"></use>
            </svg>
            <p class="tokens-grid__coin">UNI-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-ton_icon"></use>
            </svg>
            <p class="tokens-grid__coin">TON-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-axs_icon"></use>
            </svg>
            <p class="tokens-grid__coin">AXS-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-deep_icon"></use>
            </svg>
            <p class="tokens-grid__coin">DEEP-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-aave_icon"></use>
            </svg>
            <p class="tokens-grid__coin">AAVE-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/aster_icon.png"
                alt="ASTER icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">ASTER-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-ondo_icon"></use>
            </svg>
            <p class="tokens-grid__coin">ONDO-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-arb_icon"></use>
            </svg>
            <p class="tokens-grid__coin">ARB-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/pump_icon.png"
                alt="PUMP icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">PUMP-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-vet_icon"></use>
            </svg>
            <p class="tokens-grid__coin">VET-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-wld_icon"></use>
            </svg>
            <p class="tokens-grid__coin">WLD-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-bgb_icon"></use>
            </svg>
            <p class="tokens-grid__coin">BGB-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/wlfi_icon.png"
                alt="WLFI icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">WLFI-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <svg width="28" height="28" class="tokens-grid__icon">
                <use href="./images/symbol-defs.svg#icon-xmr_icon"></use>
            </svg>
            <p class="tokens-grid__coin">XMR-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
</div>