<section class="market ">
    <div class="uniswap-message uniswap-message_warning visually_hidden">
        <p class="uniswap-message_title uniswap-message_title-pink">Warning</p>
        <p class="uniswap-message_after-title">This pools are unavailable for your country!</p>
        <button type="button" class="uniswap-message_btn uniswap-message_btn-pink">OK</button>
    </div>
    <div class="uniswap-message uniswap-message_error-validate visually_hidden">
        <p class="uniswap-message_title uniswap-message_title-pink">Error</p>
        <p class="uniswap-message_after-title">Validation Error</p>
        <div class="uniswap-message_text-wrap uniswap-message_text-wrap-pink">
            <span class="uniswap-message_text uniswap-message_text-pink">Please select a trading pair from the dropdown.</span>
        </div>
        <button type="button" class="uniswap-message_btn uniswap-message_btn-pink">OK</button>
    </div>
    <div class="uniswap-message uniswap-message_error-create visually_hidden">
        <p class="uniswap-message_title uniswap-message_title-pink">Error</p>
        <p class="uniswap-message_after-title">Failed to Create Stake</p>
        <div class="uniswap-message_text-wrap uniswap-message_text-wrap-pink">
            <span class="uniswap-message_text uniswap-message_text-pink">Insufficient balance</span>
        </div>
        <button type="button" class="uniswap-message_btn uniswap-message_btn-pink">OK</button>
    </div>
    <div class="uniswap-message uniswap-message_success visually_hidden">
        <p class="uniswap-message_title uniswap-message_title-green">Success</p>
        <p class="uniswap-message_after-title">Stake Created Successfully!</p>
        <div class="uniswap-message_text-wrap uniswap-message_text-wrap-green">
            <span class="uniswap-message_text uniswap-message_text-green">Your 1000.000 stake in ADA-USDT has been created and will start earning income immediately.</span>
        </div>
        <button type="button" class="uniswap-message_btn uniswap-message_btn-green">OK</button>
    </div>
    <div class="market__container">
        <ul class="market-tokens-list">
            <li class="market-tokens-list__item tokens-active">
                <img
                    src="./images/usdc_icon.png"
                    alt="USDC icon"
                    class="market-tokens-icon">
                <p class="market-tokens-name">USDC</p>
            </li>
            <li class="market-tokens-list__item">
                <img
                    src="./images/usdt_icon.png"
                    alt="USDT icon"
                    class="market-tokens-icon">
                <p class="market-tokens-name tokens-white">USDT</p>
            </li>
            <li class="market-tokens-list__item">
                <img
                    src="./images/dai_icon.png"
                    alt="DAI icon"
                    class="market-tokens-icon">
                <p class="market-tokens-name">DAI</p>
            </li>
        </ul>
        <div>
            <ul class="market-general-list">
                <li class="market-general-list__item">
                    <p class="market-general-name current">Market</p>
                </li>
                <li class="market-general-list__item">
                    <p class="market-general-name">Stake</p>
                </li>
                <li class="market-general-list__item">
                    <p class="market-general-name">My Positions</p>
                </li>
            </ul>
            <include src="./partials/market__tokens-grid.html"></include>
            <include src="./partials/market__stake-form.html"></include>
            <include src="./partials/market__my-positions.html"></include>
        </div>
    </div>
</section>