<div class="market__tokens-grid">
    <div class="tokens-grid__row tokens-grid__header">
        <div class="tokens-grid__name">PAIR</div>
        <div class="tokens-grid__name">PI</div>
        <div class="tokens-grid__name">BL</div>
        <div class="tokens-grid__name">UT</div>
        <div class="tokens-grid__name">ROL</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/trx_icon.png"
                alt="TRX icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">TRX-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/hype_icon.png"
                alt="HYPE icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">HYPE-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/bnb_icon.png"
                alt="BNB icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">BNB-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/sol_icon.png"
                alt="SOL icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">SOL-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/ada_icon.png"
                alt="ADA icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">ADA-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/xrp_icon.png"
                alt="XRP icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">XRP-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/doge_icon.png"
                alt="DOGE icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">DOGE-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/link_icon.png"
                alt="LINK icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">LINK-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/atom_icon.png"
                alt="ATOM icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">ATOM-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/sui_icon.png"
                alt="SUI icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">SUI-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/shiba_icon.png"
                alt="SHIBA icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">SHIBA-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/ltc_icon.png"
                alt="LTC icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">LTC-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/pepe_icon.png"
                alt="PEPE icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">PEPE-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/dot_icon.png"
                alt="DOT icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">DOT-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/mkr_icon.png"
                alt="MKR icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">MKR-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/cake_icon.png"
                alt="CAKE icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">CAKE-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/uni_icon.png"
                alt="UNI icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">UNI-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/ton_icon.png"
                alt="TON icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">TON-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/axs_icon.png"
                alt="AXS icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">AXS-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/deep_icon.png"
                alt="DEEP icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">DEEP-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/aave_icon.png"
                alt="AAVE icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">AAVE-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/aster_icon.png"
                alt="ASTER icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">ASTER-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/ondo_icon.png"
                alt="ONDO icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">ONDO-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/arb_icon.png"
                alt="ARB icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">ARB-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/pump_icon.png"
                alt="PUMP icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">PUMP-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/vet_icon.png"
                alt="VET icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">VET-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/wld_icon.png"
                alt="WLD icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">WLD-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/bgb_icon.png"
                alt="BGB icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">BGB-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/wlfi_icon.png"
                alt="WLFI icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">WLFI-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
    <div class="tokens-grid__row">
        <div class="tokens-grid__position">
            <img
                src="./images/xmr_icon.png"
                alt="XMR icon"
                class="tokens-grid__icon">
            <p class="tokens-grid__coin">XMR-USDC</p>
        </div>
        <div class="tokens-grid__position">19.87</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
        <div class="tokens-grid__position">1.09</div>
    </div>
</div>