<div class="mob-menu__backdrop is_hidden">
    <div class="mob-menu">
        <ul class="mob-menu__cash-list">
            <li class="cash-list__item">
                <p class="cash-list__link">Available</p>
                <span class="cash-list__number">20399.80</span>
            </li>
            <li class="cash-list__item">
                <p class="cash-list__link">Locked</p>
                <span class="cash-list__number">58099.98</span>
            </li>
        </ul>
        <p class="mob-menu__title">Menu</p>
        <ul class="mob-menu__pages-list">
            <li class="pages-list__item">
                <svg width="20" height="20">
                    <use href="./images/icon_mob_menu_white_paper.svg"></use>
                </svg>
                <p class="pages-list__link" id="white-paper-mob-link">White Paper</p>
            </li>
            <li class="pages-list__item">
                <svg width="20" height="20">
                    <use href="./images/icon_mob_menu_stake.svg"></use>
                </svg>
                <p class="pages-list__link" id="stake-mob-link">Stake</p>
            </li>
            <li class="pages-list__item">
                <svg width="20" height="20">
                    <use href="./images/icon_mob_menu_my_positions.svg"></use>
                </svg>
                <p class="pages-list__link" id="my-positions-mob-link">My Positions</p>
            </li>
        </ul>
        <p class="mob-menu__title">Ballance</p>
        <ul class="mob-menu__balance-list">
            <li class="balance-list__item">
                <svg width="20" height="20">
                    <use href="./images/icon_mob_menu_deposit.svg"></use>
                </svg>
                <p class="balance-list__link">Deposit</p>
            </li>
            <li class="balance-list__item">
                <svg width="20" height="20">
                    <use href="./images/icon_mob_menu_withdraw.svg"></use>
                </svg>
                <p class="balance-list__link">Withdraw</p>
            </li>
        </ul> 
    </div>
</div>