<section class="referral-program" style="display: none;">
    <div class="referral-program__container">
        <h2 class="referral-program__title">Referral Program</h2>
        <div class="referral-balance__wrap">
            <p class="referral-balance__title">Referral Balance</p>
            <span class="referral-balance__value">175 534,03<span class="referral-balance__value-small"> / 175 534,03</span></span>
            <div class="referral-balance__code-wrap">
                <div>
                    <p class="referral-balance__code-title">Your Referral Code</p>
                    <span class="referral-balance__code">vMbLA72z</span>
                </div>
                <button type="button" class="referral-balance__btn">Copy Code</button>
            </div>
        </div>
        <ul class="progress__list">
            <li class="progress__item">
                <div class="progress__lvl-wrap">
                    <p class="progress__lvl">Level 1
                        <svg width="16" height="16" class="progress__lvl-icon-first">
                            <use href="./images/icon_faq.svg"></use>
                        </svg>
                        <div class="hint-first is_hidden">
                            <p class="uniswap-market__info">Every stake is available to claim from 10$ income</p>
                        </div>
                    </p>
                    <span class="progress__lvl-value progress__lvl-value-green">25%</span>
                </div>
                <div class="progress__text-value-wrap">
                    <p class="progress__text-value">Progress</p>
                    <span class="progress__text-value">274 916,11 / 15 000</span>
                </div>
                <img src="./images/icon_progress_bar.png" alt="Progress bar line" class="progress__bar">
                <div class="progress__text-value-wrap">
                    <span class="progress__text-value text-value-white">274 916,11</span>
                    <span class="progress__text-value text-value-bold">15 000</span>
                </div>
                <div class="progress__main-value-wrap better-value">
                    <p class="progress__text-value">EARNING</p>
                    <span class="progress__main-value">68 729,03<span class="progress__text-value text-value-usdt">USDT</span></span>
                </div>
            </li>
            <li class="progress__item">
                <div class="progress__lvl-wrap">
                    <p class="progress__lvl">Level 2
                        <svg width="16" height="16" class="progress__lvl-icon-second">
                            <use href="./images/icon_faq.svg"></use>
                        </svg>
                        <div class="hint-second is_hidden">
                            <p class="uniswap-market__info">Every stake is available to claim from 10$ income</p>
                        </div>
                    </p>
                    <span class="progress__lvl-value progress__lvl-value-green">10%</span>
                </div>
                <div class="progress__text-value-wrap">
                    <p class="progress__text-value">Progress</p>
                    <span class="progress__text-value">580 385,1 /  35 000</span>
                </div>
                <img src="./images/icon_progress_bar.png" alt="Progress bar line" class="progress__bar">
                <div class="progress__text-value-wrap">
                    <span class="progress__text-value text-value-white">580 385,1</span>
                    <span class="progress__text-value text-value-bold"> 35 000</span>
                </div>
                <div class="progress__main-value-wrap better-value">
                    <p class="progress__text-value">EARNING</p>
                    <span class="progress__main-value">58 038,51<span class="progress__text-value text-value-usdt">USDT</span></span>
                </div>
            </li>
            <li class="progress__item">
                <div class="progress__lvl-wrap">
                    <p class="progress__lvl">Level 3</p>
                    <span class="progress__lvl-value">5%</span>
                </div>
                <div class="progress__text-value-wrap">
                    <p class="progress__text-value">Progress</p>
                    <span class="progress__text-value">480 797,1 / 70 000</span>
                </div>
                <img src="./images/icon_progress_bar.png" alt="Progress bar line" class="progress__bar">
                <div class="progress__text-value-wrap">
                    <span class="progress__text-value text-value-white">480 797,1</span>
                    <span class="progress__text-value">70 000</span>
                </div>
                <div class="progress__main-value-wrap">
                    <p class="progress__text-value">EARNING</p>
                    <span class="progress__main-value">24 039,85<span class="progress__text-value text-value-usdt">USDT</span></span>
                </div>
            </li>
            <li class="progress__item">
                <div class="progress__lvl-wrap">
                    <p class="progress__lvl">Level 4</p>
                    <span class="progress__lvl-value">2.5%</span>
                </div>
                <div class="progress__text-value-wrap">
                    <p class="progress__text-value">Progress</p>
                    <span class="progress__text-value">979 991,58 / 100 000</span>
                </div>
                <img src="./images/icon_progress_bar.png" alt="Progress bar line" class="progress__bar">
                <div class="progress__text-value-wrap">
                    <span class="progress__text-value text-value-white">979 991,58</span>
                    <span class="progress__text-value">100 000</span>
                </div>
                <div class="progress__main-value-wrap">
                    <p class="progress__text-value">EARNING</p>
                    <span class="progress__main-value">24 499,79<span class="progress__text-value text-value-usdt">USDT</span></span>
                </div>
            </li>
            <li class="progress__item">
                <div class="progress__lvl-wrap">
                    <p class="progress__lvl">Level 5</p>
                    <span class="progress__lvl-value">0.1%</span>
                </div>
                <div class="progress__text-value-wrap">
                    <p class="progress__text-value">Progress</p>
                    <span class="progress__text-value">226 852,08 / 200 000</span>
                </div>
                <img src="./images/icon_progress_bar.png" alt="Progress bar line" class="progress__bar">
                <div class="progress__text-value-wrap">
                    <span class="progress__text-value text-value-white">226 852,08</span>
                    <span class="progress__text-value">200 000</span>
                </div>
                <div class="progress__main-value-wrap">
                    <p class="progress__text-value">EARNING</p>
                    <span class="progress__main-value">226,85<span class="progress__text-value text-value-usdt">USDT</span></span>
                </div>
            </li>
        </ul>
    </div>
</section>