<section class="user-profile ">
    <div class="user-profile__container">
        <div class="user-profile__wrap">
            <div class="user-profile__img-wrap">
                <p class="user-profile__img">J</p>
            </div>
            <div>
                <p class="user-profile__label label-user">Unverified</p>
                <p class="user-profile__email">john.doe@example.com</p>
            </div>
        </div>
        <ul class="balance-income__list">
            <li class="balance-income__item">
                <p class="balance-title">Balance</p>
                <p class="balance-income__after-title">Available Balance</p>
                <span class="balance-income__general-value">$2,500.75</span>
                <p class="balance-income__after-title">Referral Balance</p>
                <span class="balance-income__referral-value">$150.50</span>
            </li>
            <li class="balance-income__item">
                <p class="income-title">Income</p>
                <p class="balance-income__after-title">Total Income</p>
                <span class="balance-income__general-value">$8,750.00</span>
                <p class="balance-income__after-title">Referral Income</p>
                <span class="balance-income__referral-value">$1,250.25</span>
            </li>
        </ul>
        <div class="verification__wrap">
            <p class="verification__title">Email Verification Required</p>
            <p class="verification__first-text">Verify your email to get verification level 1 and unlock additional features.</p>
            <p class="verification__second-text">We need to verify your email address: john.doe@example.com</p>
            <button type="button" class="verification__btn">Send Verification Email</button>
        </div>
        <div class="verification-lvl__main-wrap">
            <p class="verification-lvl__title">Verification Level</p>
            <div class="verification-lvl__wrap">
                <p class="verification-lvl__after-title">Your verification level is</p>
                <p class="user-profile__label label-lvl">Level 0</p>
            </div>
            <div class="verification-lvl__progress-title-wrap">
                <p class="verification-lvl__progress-title">Progress</p>
                <p class="verification-lvl__progress-value">0/2</p>
            </div>
            <img src="./images/icon_progress_bar_long.png" alt="Progress bar long line" class="verification-lvl__progress-bar">
            <p class="verification-lvl__features-title">Available Features:</p>
            <ul class="verification-lvl__list">
                <li class="verification-lvl__item">
                    <p class="verification-lvl__features-name">Deposit</p>
                </li>
                <li class="verification-lvl__item">
                    <p class="verification-lvl__features-name">Stake</p>
                </li>
                <li class="verification-lvl__item">
                    <p class="verification-lvl__features-name">Information Dashboard</p>
                </li>
            </ul>
            <div class="verification-lvl__btn-wrap">
                <p class="verification-lvl__btn-title">Upgrade to level 1 for withdraw / referral program</p>
                <button type="button" class="verification-lvl__btn">
                    <img
                        src="./images/icon_arrow_up.png"
                        alt="Arrow up icon"
                        class="verification-lvl__btn-icon">
                    Verify Email First
                </button>
            </div>
        </div>
    </div>
</section>