.authorization {
    width: 391px;
    height: 810px;
    margin: 0 auto;
    background-image: url(../images/uniswap_main_image_mob.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include tab {
        width: 1440px;
        background-image: url(../images/uniswap_main_image.png);
    }
}

.authorization__container {
    width: 100%;
    min-height: 100vh;
    padding: 0 9px;
    margin: 0 auto;
    backdrop-filter: blur(6px);
    @include desk {
        padding-left: 28px;
        padding-top: 20px;
        padding-right: 28px;
        backdrop-filter: blur(12px);
    }
}

.authorization-box__wrap {
    padding-top: 132px;
    @include desk {
        padding-top: 68px;
    }
}

.authorization-box__register-wrap {
    padding-top: 80px;
    @include desk {
        padding-top: 22px;
    }
}

.authorization-box,
.authorization-box__register {
    width: 373px;
    padding-left: 28px;
    padding-top: 50px;
    padding-right: 28px;
    padding-bottom: 74px;
    margin: 0 auto;
    border: 1px solid #222;
    border-radius: 40px;
    background-color: var(--uniswap-dark);
    .uniswap-message_text-wrap {
        display: none;
    }
    @include desk {
        width: 560px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.authorization-box__title {
    font-weight: 500;
    font-size: 41.88px;
    line-height: calc(51 / 41.88);
    text-align: center;
    margin-bottom: 30px;
    @include desk {
        font-size: 62px;
        line-height: calc(71 / 62);
    }
}

.authorization-box__register-title {
    font-size: 47px;
}

.authorization-box__label {
    font-size: 14.75px;
    letter-spacing: -0.12px;
    color: var(--clearly-white);
    display: block;
    margin-bottom: 5px;
}

.authorization-box__input {
    display: block;
    width: 100%;
    max-width: 317px;
    padding: 12.5px 16px;
    margin-bottom: 13px;
    outline: none;
    border: none;
    border-radius: 12px;
    color: var(--clearly-white);
    background-color: var(--uniswap-light-dark);
    @include desk {
        max-width: 480px;
    }
}

.authorization-box__btn {
    font-weight: 700;
    font-size: 19.84px;
    line-height: calc(24 / 19.84);
    display: block;
    width: 293px;
    padding: 17px 0;
    margin: 30px auto;
    border-radius: 16px;
    color: var(--uniswap-light-pink);
    background-color: var(--uniswap-dark-pink);
    @include focus_scale_with_pointer;
    &:hover {
        background-color: var(--uniswap-rgba-pink);
    }
    @include desk {
        width: 464;
    }
}

.authorization-box__btn_scale {
    transform: scale(0.95);
}

.authorization-box__text-wrap {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.authorization-box__text {
    font-size: 16.73px;
    line-height: calc(23 / 16.73);
    color: var(--uniswap-footer-policy);
}

.authorization-box__text_pink,
.authorization-box__register-text_pink {
    font-size: 17px;
    font-weight: 700;
    color: var(--uniswap-light-pink);
    @include scale_with_pointer;
    padding-left: 5px;
}