.footer__container {
    width: 100%;
    max-width: 391px;
    padding-left: 40px;
    padding-top: 32px;
    padding-right: 40px;
    padding-bottom: 8.55px;
    margin: 0 auto;
    @include desk {
        max-width: 1440px;
        padding-left: 48px;
        padding-top: 0;
        padding-right: 48px;
        padding-bottom: 40px;
    }
}

.footer__main-wrap,
.footer__social-wrap,
.footer__link-wrap {
    @include desk {
        display: flex;
    }
}

.footer__link-wrap {
    display: flex;
    flex-wrap: wrap;
}

.footer__main-wrap {
    padding-bottom: 18.7px;
    border-bottom: 1px solid var(--uniswap-rgba-mob-border);
    @include desk {
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-bottom: 24px;
    }
}

.footer__social-list {
    display: flex;
}

.social-list__item {
    &:not(:first-child) {
        margin-left: 24px;
    }
    @include scale_with_pointer;
}

.social-list__icon {
    width: 32px;
}

.footer__link-wrap {
    width: 310px;
    margin-bottom: 32px;
    @include desk {
        justify-content: space-between;
        width: 552px;
        padding-right: 51px;
        margin-bottom: 0;
    }
}

.footer__link-wrap-smalls {
    width: 147px;
    @include desk {
        width: auto;
    }
}

.wrap-smalls-mob {
    margin-bottom: 16px;
    @include desk {
        margin-bottom: 0;
    }
}

.wrap-smalls-pl {
    padding-left: 16px;
    @include desk {
        padding-left: 0;
    }
}

.link-list__item + .link-list__item {
    margin-top: 7px;
}

.footer__link-title {
    font-size: 14.88px;
    line-height: calc(20 / 14.88);
    margin-bottom: 10px;
}

.link-list__text {
    font-size: 15.13px;
    line-height: calc(20 / 15.13);
    @include change_to_grey_with_pointer;
}

.footer__copyright-wrap {
    padding-top: 24px;
    @include desk {
        display: flex;
        justify-content: space-between;
    }
}

.footer__copyright {
    max-width: 146px;
    font-size: 12.8px;
    line-height: calc(18 / 12.8);
}

.footer__policy-list {
    display: flex;
}

.policy-list__item + .policy-list__item {
    margin-left: 16px;
}

.policy-list__name {
    font-size: 12.7px;
    line-height: calc(18 / 12.7);
    color: var(--uniswap-footer-policy);
    @include change_to_white_with_pointer;
}