.footer__container {
    width: 100%;
    max-width: 391px;
    padding-left: 40px;
    padding-top: 32px;
    padding-right: 40px;
    padding-bottom: 8.55px;
    margin: 0 auto;
    @include desk {
        max-width: 1440px;
        padding-left: 48px;
        padding-top: 0;
        padding-right: 48px;
        padding-bottom: 40px;
    }
}

.footer-main-wrap,
.footer-social-wrap,
.footer-link-wrap {
    @include desk {
        display: flex;
    }
}

.footer-link-wrap {
    display: flex;
    flex-wrap: wrap;
}

.footer-main-wrap {
    padding-bottom: 18.7px;
    border-bottom: 1px solid var(--uniswap-rgba-mob-border);
    @include desk {
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-bottom: 24px;
    }
}

.footer-social-list {
    display: flex;
}

.footer-social-list__item {
    &:not(:first-child) {
        margin-left: 24px;
    }
}

.footer-social-icon {
    width: 32px;
}

.footer-link-wrap {
    width: 310px;
    margin-bottom: 32px;
    @include desk {
        justify-content: space-between;
        width: 552px;
        padding-right: 51px;
        margin-bottom: 0;
    }
}

.footer-link-wrap-smalls {
    width: 147px;
    @include desk {
        width: auto;
    }
}

.wrap-smalls-mb {
    margin-bottom: 16px;
    @include desk {
        margin-bottom: 0;
    }
}

.wrap-smalls-pl {
    padding-left: 16px;
    @include desk {
        padding-left: 0;
    }
}

.footer-link__item + .footer-link__item {
    margin-top: 7px;
}

.footer-link-title {
    font-size: 14.88px;
    line-height: calc(20 / 14.88);
    margin-bottom: 10px;
}

.footer-link__text {
    font-size: 15.13px;
    line-height: calc(20 / 15.13);
}

.footer-copyright-wrap {
    padding-top: 24px;
    @include desk {
        display: flex;
        justify-content: space-between;
    }
}

.footer-copyright {
    max-width: 146px;
    font-size: 12.8px;
    line-height: calc(18 / 12.8);
}

.footer-policy-list {
    display: flex;
}

.footer-policy-list__item + .footer-policy-list__item {
    margin-left: 16px;
}

.footer-policy-name {
    font-size: 12.7px;
    line-height: calc(18 / 12.7);
    color: var(--uniswap-footer-policy);
}