.footer__container {
    width: 100%;
    max-width: 1440px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.footer-main-wrap,
.footer-social-wrap,
.footer-link-wrap {
    display: flex;
}

.footer-main-wrap {
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #FFFFFF1F;
}

.footer-social-list {
    display: flex;
}

.footer-social-list__item {
    &:not(:first-child) {
        margin-left: 24px;
    }
}

.footer-social-icon {
    width: 32px;
}

.footer-link-wrap {
    width: 552px;
    justify-content: space-between;
    padding-right: 51px;
}

.footer-link__item + .footer-link__item {
    margin-top: 7px;
}

.footer-link-title {
    font-size: 14.88px;
    line-height: calc(20 / 14.88);
    margin-bottom: 10px;
}

.footer-link__text {
    font-size: 15.13px;
    line-height: calc(20 / 15.13);
}

.footer-copyright-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.footer-copyright {
    max-width: 146px;
    font-size: 12.8px;
    line-height: calc(18 / 12.8);
}

.footer-policy-list {
    display: flex;
}

.footer-policy-list__item + .footer-policy-list__item {
    margin-left: 16px;
}

.footer-policy-name {
    font-size: 12.7px;
    line-height: calc(18 / 12.7);
    color: #FFFFFFA6;
}