.header {
    width: 100%;
    max-width: 391px;
    padding-left: 20px;
    padding-right: 12px;
    margin: 0 auto;
    border-bottom: 1px solid var(--uniswap-rgba-mob-border);
    @include desk {
        max-width: 1440px;
        padding-left: 27px;
        padding-right: 33px;
        border-bottom: 1px solid var(--uniswap-rgba-border);
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    @include desk {
        padding-top: 15.67px;
        padding-bottom: 17.33px;
    }
}

.header__mob-menu {
    display: block;
    margin-left: 20px;
    @include scale_with_pointer;
    &::before {
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(../images/icon_mob_menu.svg);
    }
    @include desk {
        display: none;
    }
}

.nav__wrap,
.nav__user-wrap {
    @include flex_align;
}

.nav__user-wrap {
    position: relative;
}

.nav__list,
.nav__cash-list,
.nav__sum-list {
    display: none;
    @include desk {
        display: flex;
    }
}

.nav__list {
    margin-left: 23px;
}

.nav__item + .nav__item {
    margin-left: 32px;
}

.nav__sum-list {
    margin-left: 25px;
}

.cash-list__item + .cash-list__item,
.sum-list__item + .sum-list__item {
    margin-left: 25px;
}

.nav__link {
    font-size: 13.8px;
    line-height: calc(20 / 13.8);
    color: var(--uniswap-grey);
    @include flex_align;
    &::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
}

.nav__list-dashboard-link {
    &::before {
        background-image: url(../images/icon_dashboard_grey.svg);
    }
    &.link-active,
    &:hover {
        @include change_to_white_with_pointer;
        &::before {
            background-image: url(../images/icon_dashboard_white.svg);
        }
    }
}

.nav__list-white-paper-link {
    &::before {
        background-image: url(../images/icon_white_paper_grey.svg);
    }
    &.link-active,
    &:hover {
        @include change_to_white_with_pointer;
        &::before {
            background-image: url(../images/icon_white_paper_white.svg);
        }
    }
}

.nav__list-roadmap-link {
    &::before {
        background-image: url(../images/icon_roadmap_grey.svg);
    }
    &.link-active,
    &:hover {
        @include change_to_white_with_pointer;
        &::before {
            background-image: url(../images/icon_roadmap_white.svg);
        }
    }
}

.nav__list-faq-link {
    &::before {
        background-image: url(../images/icon_faq.svg);
    }
    &.link-active,
    &:hover {
        @include change_to_white_with_pointer;
        &::before {
            background-image: url(../images/icon_faq_white.svg);
        }
    }
}

.link-active {
    color: var(--uniswap-my-profile-white);
}

.link-small {
    font-size: 13.7px;
    line-height: calc(20 / 13.7);
}

.link-bigger {
    font-size: 14px;
    line-height: calc(20 / 14);
}

.sum-list__link {
    font-weight: 400;
    font-size: 15.88px;
    line-height: calc(22 / 15.88);
    color: var(--uniswap-grey);
    @include change_to_white_with_pointer;
}

.cash-list__link {
    font-weight: 400;
    font-size: 10.88px;
    line-height: calc(17 / 10.88);
    color: var(--uniswap-grey);
    text-align: center;
}

.cash-list__number {
    font-weight: 400;
    font-size: 15.88px;
    line-height: calc(16 / 15.88);
}

.nav__user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--uniswap-dark-pink);
    @include flex_justify_align;
    &:hover {
        cursor: pointer;
        background-color: var(--uniswap-rgba-pink);
    }
    @include desk {
        margin-left: 58px;
    }
}

.nav__user-sections {
    width: 174px;
    padding: 15px 18px;
    border-radius: 8px;
    border: 1px solid var(--uniswap-another-dark);
    background-color: var(--uniswap-light-dark);
    position: absolute;
    top: 42px;
    right: 8px;
    z-index: 1;
}

.user-sections__item {
    @include flex_align;
    @include scale_with_pointer;
    & + & {
        margin-top: 15px;
    }
}

.user-sections__title {
    font-weight: 400;
    font-size: 13px;
    color: var(--uniswap-pair-option);
    margin-left: 10px;
    &-pink {
        color: var(--uniswap-error);
    }
}