.market__stake-form {
    width: 328px;
    margin-left: 31px;
    @include desk {
        width: 480px;
        margin-left: 0;
        margin-top: 27px;
    }
}

.stake-form__label {
    font-size: 14.75px;
    letter-spacing: -0.12px;
    color: var(--uniswap-grey);
    display: block;
    margin-bottom: 5px;
}

.stake-form__select,
.stake-form__input {
    display: block;
    width: 100%;
    max-width: 480px;
    padding: 10px 16px;
    margin-bottom: 13px;
    outline: none;
    border: none;
    border-radius: 12px;
    color: var(--clearly-white);
    background-color: var(--uniswap-light-dark);
}

.stake-form__select {
    background-image: url(../images/market_select_arrow.png);
    background-repeat: no-repeat;
    background-position: right 16px center;
    appearance: none;
    &::placeholder {
        font-weight: 400;
        font-size: 14.75px;
        line-height: calc(28.8 / 14.75);
        letter-spacing: -0.12px;
        color: var(--uniswap-grey);
    }
}

.stake-form__pair-wrap,
.stake-form__lp-wrap {
    max-width: 480px;
    padding: 15px 18px;
    border: 1px solid var(--uniswap-market-border);
    border-radius: 12px;
}

.stake-form__pair-list,
.stake-form__lp-list {
    max-height: 120px;
    overflow-x: hidden;
    scrollbar-gutter: stable both-edges;
    &::-webkit-scrollbar {
        width: 4px;
    }
	&::-webkit-scrollbar-thumb {
        border-radius: 4px;
		background-color: var(--uniswap-scrollbar);
	}
}

.stake-form__pair-list_item {
    @include flex_align;
}

.stake-form__pair-list_item + .stake-form__pair-list_item,
.stake-form__lp-list_item + .stake-form__lp-list_item {
    margin-top: 10px;
}

.stake-form__pair-icon {
    width: 16px;
    margin-right: 5px;
}

.stake-form__pair-text,
.stake-form__lp-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    color: var(--uniswap-pair-option);
    position: relative;
    &.current {
        font-weight: 700;
        color: var(--uniswap-pair-option);
    }
}

.stake-form__wrap_checkbox {
	margin-bottom: 13px;
}

.label-checkbox {
    @include flex_align;
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 4px;
        display: block;
        margin-right: 9px;
        background-color: var(--uniswap-light-dark);
    }
}

.stake-form__checkbox {
    &:checked + .label-checkbox::before {
        background-image: url(..//images/icon_market_check.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--uniswap-pink);
    }
}