.market {
    padding-left: 4px;
    padding-top: 56.75px;
    padding-right: 4px;
    padding-bottom: 26px;
    @include desk {
        padding-left: 180px;
        padding-top: 33px;
        padding-bottom: 80px;
    }
}

.market__container {
    width: 100%;
    max-width: 1190px;
    display: flex;
}

.tokens-list {
    display: none;
    @include desk {
        display: block;
        border: 1px solid var(--uniswap-another-dark);
        border-radius: 16px;
        width: 186px;
        height: 136px;
        padding: 5px;
        margin-right: 56px;
    }
}

.tokens-list-mob {
    display: block;
    border: 1px solid var(--uniswap-another-dark);
    border-radius: 16px;
    display: flex;
    width: 338px;
    padding: 5px;
    margin-left: 26px;
    margin-bottom: 41px;
    @include desk {
        display: none;
    }
}

.tokens-list__item,
.tokens-list__item-mob {
    @include flex_align;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    @include transition_with_cubic;;
    &:hover {
        cursor: pointer;
        border-radius: 12px;
        background-color: var(--uniswap-tokens-active);
    }
}

.tokens-list__item-mob {
    width: 109px;
    padding-right: 18.33px;
}

.tokens-list__icon {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.tokens-list__name {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: -0.16px;
    color: var(--uniswap-grey);
}

.tokens-active {
    border-radius: 12px;
    background-color: var(--uniswap-tokens-active);
    & .tokens-list__name {
        color: var(--clearly-white);
    }
}

.general-list {
    display: flex;
    padding-left: 12px;
    margin-left: 26px;
    margin-bottom: 15.25px;
    @include desk {
        padding-top: 7px;
        margin-left: 0;
        margin-bottom: 0;
    }
}

.general-list__item {
    &:not(:first-child) {
        margin-left: 16px;
        @include desk {
            margin-left: 36px;
        }
    }
}

.general-list__name {
    font-weight: 400;
    font-size: 19.8px;
    line-height: 100%;
    letter-spacing: -0.28px;
    color: var(--uniswap-grey);
    position: relative;
    @include change_to_white_with_pointer;
}