.market__my-positions {
    display: none;
    @include desk {
        display: block;
    }
}

.my-positions__list {
    margin-left: 31px;
    @include desk {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 936px;
        margin-left: 0;
        margin-top: 20px;
    }
}

.my-positions__item {
    width: 328px;
    padding-left: 19px;
    padding-top: 19.5px;
    padding-right: 19px;
    padding-bottom: 19px;
    border-radius: 20px;
    background-color: var(--uniswap-light-dark);
    @include scale_with_pointer;
    @include desk {
        width: 302px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.my-positions__item + .my-positions__item {
    margin-top: 22px;
    @include desk {
        margin-top: 0px;
    }
}

.my-positions__main-tokens-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
}

.my-positions__tokens-wrap {
    @include flex_align;
}

.my-positions__icon {
    width: 28px;
    margin-right: 8px;
}

.my-positions__tokens {
    font-weight: 400;
    font-size: 15.88px;
    line-height: 100%;
    letter-spacing: -0.16px;
    @include flex_align;
    justify-content: space-between;
}

.my-positions__tokens-value {
    display: block;
    font-weight: 700;
    font-size: 16.75px;
    line-height: calc(28.8 / 16.75);
    letter-spacing: -0.12px;
    text-align: right;
    color: var(--uniswap-success);
}

.my-positions__definition-value-wrap {
    @include flex_align;
    justify-content: space-between;
}

.my-positions__definition {
    display: block;
    font-weight: 400;
    font-size: 11.75px;
    line-height: calc(12 / 11.75);
    letter-spacing: -0.12px;
    color: var(--uniswap-grey);
}

.my-positions__definition + .my-positions__definition,
.my-positions__value + .my-positions__value {
    margin-top: 8px;
}

.my-positions__value {
    display: block;
    font-weight: 400;
    font-size: 11.75px;
    line-height: calc(12 / 11.75);
    letter-spacing: -0.12px;
    text-align: right;
}