.referral-program {
    padding-top: 20px;
    padding-bottom: 33px;
    @include desk {
        padding-top: 42.67px;
        padding-bottom: 96px;
    }
}

.referral-program__container {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 24px;
    @include desk {
        padding: 0;
    }
}

.referral-program__title {
    font-weight: 400;
    font-size: 15.4px;
    line-height: calc(24 / 15.4);
    color: var(--uniswap-my-profile-white);
    margin-bottom: 24px;
}

.referral-balance__wrap {
    padding: 25px;
    margin-bottom: 24px;
}

.referral-balance__wrap,
.progress__item {
    border-radius: 12px;
    border: 1px solid var(--uniswap-my-profile-dark);
    background-color: var(--uniswap-light-dark);
}

.referral-balance__title {
    font-weight: 400;
    font-size: 13.7px;
    line-height: calc(20 / 13.7);
    color: var(--uniswap-my-profile-grey);
    margin-bottom: 8px;
}

.referral-balance__value {
    font-weight: 600;
    font-size: 28.9px;
    line-height: calc(36 / 28.9);
    color: var(--uniswap-my-profile-green);
    display: block;
    margin-bottom: 16px;
    &-small {
        font-weight: 400;
        font-size: 15.1px;
        line-height: calc(24 / 15.1);
        color: var(--uniswap-my-profile-grey);
    }
}

.referral-balance__code-wrap {
    @include flex_align;
    justify-content: space-between;
}

.referral-balance__code-title {
    font-weight: 400;
    font-size: 13.6px;
    line-height: calc(20 / 13.6);
    color: var(--uniswap-my-profile-grey);
    margin-bottom: 4px;
}

.referral-balance__code {
    font-weight: 400;
    font-size: 16.9px;
    line-height: calc(28 / 16.9);
    color: var(--uniswap-pink);
}

.referral-balance__btn {
    font-weight: 700;
    font-size: 15.3px;
    line-height: calc(24 / 15.3);
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--uniswap-pink);
    @include flex_align;
    @include focus_scale_with_pointer;
    @include hover_focus_background_dark_pink;
    &::before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        background-image: url(../images/icon_referral_program_btn.svg);
    }
}

.progress__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.progress__item {
    max-width: 400px;
    padding: 17px;
}

.progress__lvl-wrap {
    @include flex_align;
    justify-content: space-between;
    margin-bottom: 12px;
    position: relative;
}

.progress__lvl {
    font-weight: 400;
    font-size: 15.1px;
    line-height: calc(24 / 15.1);
    color: var(--uniswap-my-profile-white);
    @include flex_align;
}

.progress__lvl-icon-first,
.progress__lvl-icon-second {
    margin-left: 10px;
    &:hover {
        cursor: pointer;
    }
}

.hint-first,
.hint-second {
	width: 192px;
	padding: 15px 17px;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
	border: 1px solid var(--uniswap-my-profile-dark);
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(35%, -45%);
	background-color: var(--uniswap-light-dark);
	@include transition_with_cubic;
}

.progress__lvl-value {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(20 / 14);
    color: var(--uniswap-pink);
    &-green {
        font-weight: 900;
        color: var(--uniswap-my-profile-green);
        padding: 5px 6px;
        border-radius: 5px;
        background-color: var(--uniswap-my-profile-rgba-green);
    }
}

.progress__text-value-wrap {
    display: flex;
    justify-content: space-between;
}

.progress__text-value {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    color: var(--uniswap-my-profile-grey);
}

.text-value-white {
    color: var(--uniswap-my-profile-white);
}

.text-value-bold {
    font-weight: 700;
}

.progress__bar {
    max-width: 366px;
    min-height: 4px;
    margin: 8px 0;
}

.progress__main-value-wrap {
    padding-left: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
}

.better-value {
    text-align: center;
    padding: 12px;
    margin-top: 12px;
    border-radius: 5px;
    background-color: var(--uniswap-my-profile-rgba-green);
    & .progress__main-value {
        display: block;
    }
}

.progress__main-value {
    font-weight: 400;
    font-size: 17.2px;
    line-height: calc(28 / 17.2);
    color: var(--uniswap-my-profile-green);
    display: flex;
    align-items: baseline;
}

.text-value-usdt {
    margin-left: 8px;
}