.roadmap {
    padding-top: 20px;
    padding-bottom: 48px;
    @include desk {
        padding-top: 47.67px;
        padding-bottom: 59px;
    }
}

.roadmap__container {
    width: 100%;
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 16px;
    position: relative;
    @include desk {
        padding-left: 386px;
        padding-right: 414px;
    }
}

.roadmap__line {
    position: absolute;
    right: 88%;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--uniswap-my-profile-dark);
    border-radius: 2px;
    @include desk {
        right: 29.7%;
    }
}

.roadmap__list {
    max-width: 560px;
    margin-left: 64px;
    @include desk {
        margin-left: 0;
    }
}

.roadmap__item {
    max-width: 278px;
    padding: 24px;
    border-radius: 14px;
    border: 1px solid var(--uniswap-rgba-another-border);
    background-color: var(--uniswap-light-dark);
    position: relative;
    & + & {
        margin-top: 96px;
        @include desk {
            margin-top: 48;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
    }
    &:nth-child(-n+3)::after {
        background-image: url(../images/icon_roadmap_checked.svg);
    }
    &:nth-child(n+4)::after {
        background-image: url(../images/icon_roadmap_unchecked.svg);
    }
    @include mob-only {
        &:first-child::after {
            top: 24px;
            right: 112.6%;
        }
        &:nth-child(n+2)::after {
            top: 0;
            right: 112.6%;
        }
    }
    @include desk {
        max-width: 100%;
        width: 560px;
        &::after {
            top: 24px;
            right: -14.8%;
        }
    }
    
    @include mob-only {
        & .roadmap__plan-list {
            .roadmap__plan-item::before {
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                margin-right: 8px;
            }
        }
        &:nth-child(-n+3) {
            .roadmap__plan-list {
                .roadmap__plan-item::before {
                    background-image: url(../images/icon_roadmap_dot.svg);
                }
            }
        }
        &:nth-child(n+4) {
            .roadmap__plan-list {
                .roadmap__plan-item::before {
                    background-image: url(../images/icon_roadmap_dot_grey.svg);
                }
            }
        }
    }
    @include desk {
        &:nth-child(odd) {
            .roadmap__quarter-wrap {
                margin-left: auto;
                text-align: right;
                .roadmap__quarter {
                    margin-left: auto;
                }
            }
            .roadmap__plan-list {
                .roadmap__plan-item::after {
                    content: "";
                    display: block;
                    width: 6px;
                    height: 6px;
                    margin-left: 8px;
                    background-image: url(../images/icon_roadmap_dot.svg);
                }
            }
        }
        &:nth-child(even) {
            .roadmap__plan-list {
                .roadmap__plan-item::before {
                    content: "";
                    display: block;
                    width: 6px;
                    height: 6px;
                    margin-right: 8px;
                    background-image: url(../images/icon_roadmap_dot.svg);
                }
            }
        }
        &:nth-child(5n) {
            .roadmap__plan-list {
                .roadmap__plan-item::after {
                    background-image: url(../images/icon_roadmap_dot_grey.svg);
                }
            }
        }
        &:nth-child(2n+4) {
            .roadmap__plan-list {
                .roadmap__plan-item::before {
                    background-image: url(../images/icon_roadmap_dot_grey.svg);
                }
            }
        }
    }
}

.roadmap__quarter {
    font-weight: 400;
    font-size: 13.8px;
    line-height: calc(20 / 13.8);
    @include flex_align;
    max-width: 82px;
    padding: 4px 12px;
    margin-bottom: 12px;
    border-radius: 25px;
    color: var(--uniswap-my-profile-white);
    background-color: var(--uniswap-rgba-background);
}

.roadmap__title {
    font-weight: 400;
    font-size: 15.5px;
    line-height: calc(24 / 15.5);
    color: var(--uniswap-my-profile-white);
    margin-bottom: 8px;
}

.roadmap__after-title {
    font-weight: 400;
    font-size: 13.7px;
    line-height: calc(20 / 13.7);
    color: var(--uniswap-my-profile-grey);
    margin-bottom: 16px;
}

.roadmap__plan-item {
    @include flex_align;
    & + & {
        margin-top: 8px;
    }
}

.plan-item__title {
    font-weight: 400;
    font-size: 13.7px;
    line-height: calc(20 / 13.7);
    color: var(--uniswap-my-profile-white);
    &-grey {
        color: var(--uniswap-my-profile-grey);
    }
}